.card1{ 

    margin-top:120px; 

    border:none; 

    width:500px; 

    padding:40px; 

    position:absolute; 

    top:60%; 

    left:50%; 

    transform:translate(-50%,-50%); 

    background:rgb(18, 107, 172); 

    background:linear-gradient(90deg,rgb(200, 14, 154) 0%, rgb(70, 29, 151)100%); 

    overflow-x: hidden; 

} 

.login1{
    background-color: rgb(21, 26, 26);
    margin-top: 40em;
}

.card h1, 

.card span{ 

    color:orangered; 

} 

label{ 

    color:#E5E7E9; 

} 