
    /**********left-side***************/
    footer{
        background-color: #41464b;
        padding-top: 30px;
        border-top: 5px solid rgba(0,0,0,0.3);
        border-bottom: 5px solid rgba(0,0,0,0.3);
    }
    #contact-left h3{
        color:#cf7ee0;
        font-size: 27px;
        font-weight: 700;
    }
    #contact-left p{
        color:white;
        margin-bottom: 30px;
    }
    #contact-info{
        background-image: url('./bg3.jpeg');
        background-repeat: no-repeat;
        background-size: 500px;
    }
    address{
        color: white;
    }
    address strong, 
    #phone-fax-email strong{
        letter-spacing: 1px;
        color: crimson;
    }
    #contact-right h3{
        color: white;
    }
    form .form-control{
        background: transparent;
        border-radius: 0.5;
        border-color: white;
        font-size: 17px;
        font-weight: 300;
        padding: 8px 16px;
        margin-bottom: 20px;
        
    }
    .social-list{
        padding-left: 0;
    }
    .social-list li{
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        margin-top: 10px;
    }
    .social-icon i{
        font-size: 17px;
    }
    .icon-gray i{
        color:crimson;
    }
    .icon-gray i:hover{
        color:blue;
    }
    .icon-white i{
        color:#cf7ee0;
    }
    .icon-white i:hover{
        color: rgb(110, 50, 221);
    }
